:root {
    --drop: #578ac0;
    --fill: #f1f2f2;
    --bg: #f3ea59;
}

a {
    color: var(--fill);
}

body {
    flex: 1;
}

#root {
    display: grid;
    height: 100svh;
    grid-template-areas: "svg" "links";

    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6vw;
}

.c {
    stroke: var(--drop, #578ac0);
}

.c, .d {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px;
}

.e {
    fill: var(--bg, #f3ea59);
    stroke-width: 0px;
}

.d {
    stroke: var(--fill, #f1f2f2);
}

.filled {
    fill: var(--fill);
}


td {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: start;*/
    /*justify-content: start;*/
}

ul {
    list-style-type: none;
}

.ic_c, .ic_b {
    fill: transparent;
    color: var(--bg);
    stroke: var(--fill);
    stroke-width: 2vw;
}

.ic_c {
    fill: var(--fill);
    stroke-width: 1vw;
}

.price_line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu td {
    /*display: flex;*/
    text-align: start;
}

li+ li {
    margin-top: 4vw;
}

ul, li {
    margin: 0;
    padding: 0;
}

.menu svg {
    height: 13vw;
    margin-right: 2vw;
}
